[submodule "thirdparty/tempered"]
	path = thirdparty/tempered
	url = git://github.com/edorfaus/TEMPered.git
[submodule "thirdparty/hidapi"]
	path = thirdparty/hidapi
	url = git://github.com/signal11/hidapi.git
